.input
    margin: 10px auto
    width: 600px
    background-color: #3c3c3c
    text-align: center
    height: 60px
    padding-top: 30px

    input
        height: 20px
        width: 400px
        &:focus
            outline: none

    button
        height: 26px
        color: #3c3c3c
        &:hover
            cursor: pointer
